<%- include('partials/header') %>

<div class="container mt-5">
  <h1><%= title %></h1>
  <button id="updateBtn" class="btn">Update</button>
    
    <div id="updateForm" style="display: none;">
        <form action="/design-methods/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <input type="text" class="form-control" name="title" id="title" value="<%= title %>" required>
            <input type="hidden" name="id" value="<%= Number(id) %>">
            <input type="file" id="document" placeholder="enter updated file" name="document">
                <small>Supported formats: PDF, DOCX, etc.</small>
            <button type="submit" class="btn">Update</button>
            <button type="button" class="btn cancel" onclick="hideForm()">Cancel</button>
        </form>
    </div>
  <hr>
  <!-- The HTML conversion of the Word document will be inserted here -->
  <div>
    <%- html %>
  </div>
</div>

<script>
    function hideForm() {
        document.getElementById('updateForm').style.display = 'none';
    }

    document.getElementById('updateBtn').addEventListener('click', () => {
        document.getElementById('updateForm').style.display = 'block';
    });
    // Get all image elements on the page
    const images = document.getElementsByTagName('img');

    // Iterate through all images and set their size
    for (let i = 0; i < images.length; i++) {
      images[i].style.width = 'auto';  // Set desired width
      images[i].style.height = '200px';  // Maintain aspect ratio
      // Or set a fixed height: images[i].style.height = '200px';
    }
</script>

<%- include('partials/footer') %>